<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ld.mapper.MessageMapper">

    <sql id="insertFields">
        from_id, to_id, conversation_id, content, status, create_time
    </sql>
    <insert id="savemsg" parameterType="Message" keyProperty="id">
        insert into message(<include refid="insertFields"/>)
        values(#{fromId}, #{toId}, #{conversationId}, #{content}, #{status}, #{createTime})
    </insert>


    <select id="msgcount" resultType="java.lang.Integer">
        select count(m.maxid)
        from (
                 select max(id) as maxid
                 from message
                 where (from_id = #{id} or to_id = #{id})
                 group by conversation_id
             ) as m
    </select>
    <select id="findlist" resultType="com.example.ld.entity.Message">

        SELECT *
        from message
        WHERE id in (select max(id)
                     from message
                     where (from_id = #{id} or to_id = #{id}) and (from_id!=1)
                     group by conversation_id)
        limit #{offset}, #{limit}
    </select>
    <select id="unread" resultType="java.lang.Integer">
        select count(*)
        from message
        where conversation_id = #{conversationId}
          and status = 0
    </select>
    <select id="eachcount" resultType="java.lang.Integer">
        select count(*)
        from message
        where conversation_id = #{conversationId}
    </select>
    <select id="getallbyconvid" resultType="com.example.ld.entity.Message">
        select *
        from message
        where conversation_id = #{conversationId}
        order by message.create_time desc;
    </select>
    <select id="getallbyconvid_fenye" resultType="com.example.ld.entity.Message">
        select *
        from message
        where conversation_id = #{conversationId}
        order by message.create_time desc limit #{offset} , #{limit}
    </select>

</mapper>