<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ld.mapper.postMapper">

    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <sql id="insertFields">
        user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <insert id="insertDiscussPost" parameterType="DiscussPost" keyProperty="id">
        insert into discuss_post (<include refid="insertFields"/>)
        values(#{userId}, #{title}, #{content}, #{type}, #{status}, #{createTime}, #{commentCount}, #{score})
    </insert>
<!--    插入评论-->
    <insert id="addcomment"  >
        insert into comment(user_id, entity_type, entity_id, content, create_time) VALUES (#{id},0,#{parseInt},#{content},#{time})
    </insert>
    <update id="updatecount">
        update discuss_post set comment_count = #{count} where id=#{parseInt}
    </update>
    <select id="getallpost" resultType="com.example.ld.entity.DiscussPost">
        select * from discuss_post where status!=2 order by type desc, create_time desc
    </select>
    <select id="getbyid" resultType="com.example.ld.entity.DiscussPost">
        select * from discuss_post where id=#{postid}
    </select>
    <select id="selectall_1" resultType="com.example.ld.entity.Comment">
        select * from comment where entity_id=#{postid} and entity_type=0
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(*) from comment where entity_id=#{parseInt}
    </select>


</mapper>